<div class="row py-3">
  <div class="col-12">
    <div [ngStyle]="{'background-image': imageUrl == null ? '/assets/images/Profile.png' : 'url(' + imageUrl + ')'}"
         class="user-profile"></div>
    <div class="user-profile-text">
      <h4 class="text-white fr-text mb-0">{{ name }}</h4>
      <div class="text-alpha fr-text position-text" [ngSwitch]="position">
        <p *ngSwitchCase="1">Site Engineer</p>
        <p *ngSwitchCase="2">Site Manager</p>
        <p *ngSwitchCase="3">Project Manager</p>
        <p *ngSwitchCase="4">Director</p>
      </div>
    </div>
  </div>
</div>
