<div class="jumbotron h-100">
  <div class="headerBackground">
    <div class="navigation">
      <button mat-button
              style="float:left"
              (click)="backToMain()">
        <mat-icon style="color:white">keyboard_arrow_left</mat-icon>
      </button>
      <h2 class="text-white">Feed</h2>
    </div>
  </div>
  <div class="container app_container">
    <div class="row justify-content-center">
      <div class="col-12 p-0">
        <div class="container">
          <div class="row p-5">
            <h3>Hello</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="menu-button" (click)="openMenu()"></button>
