.project-card {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #C4C4C4;
  opacity:1;
}

.project-card p {
    margin-bottom:0;
    font-family:"Francois One";
    font-size:1rem;
    font-weight:500;
}

.heading{
    font-size:1.2rem;
}
