.weather-card {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  padding:0.5rem;
}

.selected
{
    border:2px solid black;
}

.jumbotron {
  background-color: #ddd;
}

.app_container {
  height: 90%;
  top: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.headerBackground {
  background-color: #4c3c29;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  padding: 1rem;
}
