.navigation {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

input{
    color:white;
}

.rounded-circle{
    width:80px;
    height:80px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    background-size:cover;
    background-position:center;
    border:1px solid white;
}

.position-container {
  width: 100%;
  background-color: transparent;
}

.position {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.site-engineer {
  background-color: #FFACAC;
}

.site-manager {
  background-color: #FF8C8C;
}

.project-manager {
  background-color: #FF5E5E;
}

.director {
  background-color: #8F3030;
}

