.user-thumbnail{
    background-size:cover;
    background-position:center;
    height:50px;
    width:50px;
}

.feeds-wrapper{
    height:100%;
    overflow-y:hidden;
}

.documentation-wrapper {
  aspect-ratio: 2;
  background-position: center;
  background-size: cover;
}
